@model List<EstudoR2.ViewModels.ListaModulosViewModel>

@{
    ViewBag.Title = "ListarModulo";
}

<h2>Listar Módulos</h2>


<table class="table table-responsive table-condensed table-hover table-striped">
    <thead>
        <tr>
            <td>Id Módulo</td>
            <td>Nome do Módulo</td>
            <td>Curso do Módulo</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var modulos in Model)
        {
            <tr>
                <td>@modulos.IdModulo</td>
                <td>@modulos.NomeModulo</td>
                <td>@modulos.NomeCurso</td>
                <td>@Html.ActionLink("  ","ApagarModulo", "Modulo", new{ idModulo = @modulos.IdModulo} ,new{ @class = "btn btn-danger btn-block fa fa-trash btn-sm" })</td>
                <td>@Html.ActionLink(" ", "EditarModulo", "Modulo", new { idModulo = @modulos.IdModulo }, new { @class = "btn btn-primary btn-block btn-sm fa fa-refresh" })</td>
            </tr>
        }
    </tbody>
</table>


@Html.ActionLink(" ", "InserirModulo", "Modulo", new { @class = "btn btn-sm btn-warning fa fa-plus", @title = "" })