@model EstudoR2.ViewModels.MateriasModulosProfessorViewModel


@{
    ViewBag.Title = "InserirMaterias";
}

<h2>Inserir Matérias</h2>

@using (Html.BeginForm("Inserir", "Materia", FormMethod.Post))
{
    <div class="form-group col-md-4">
        @Html.Label("nomeMateria","Nome da Matéria")
        @Html.TextBox("nomeMateria",null,null, new{ @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("nomeModulo", "Módulo da Matéria")
        @Html.DropDownListFor(model => model.IdModuloSelecionado,
            new SelectList(Model.ModuloDisponivel, "Id", "Valor", Model.IdModuloSelecionado), new{ @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("nomeProfessor", "Professor Responsável da Matéria")
        @Html.DropDownListFor(model => model.IdProfessorSelecionado,
            new SelectList(Model.ProfessorDisponivel, "Id", "Valor", Model.IdProfessorSelecionado), new{ @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn-primary btn-sm btn btn-success fa fa-floppy-o"> Salvar módulo</button>
        <button type="reset" class="btn-primary btn-sm btn btn-warning fa fa-trash"> Limpar dados</button>
    </div>
}