@model List<EstudoR2.Models.Curso>

@{
    ViewBag.Title = "ListarCursos";
}

<h2>ListarCursos</h2>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <td>Id Do Curso</td>
            <td>Nome do Curso</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var cursos in Model)
    {
        <tr>
            <td>@cursos.IdCurso</td>
            <td>@cursos.NomeCurso</td>
            <td>@Html.ActionLink("  ", "ApagaCurso", new { idCurso = cursos.IdCurso }, new { @class = "btn btn-danger btn-block fa fa-trash btn-sm" })</td>
            <td>@Html.ActionLink(" ", "EditarCurso", new { idCurso = cursos.IdCurso }, new { @class = "btn btn-primary btn-block btn-sm fa fa-refresh" })</td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink(" ", "InserirCurso", null, new{@class = "btn btn-warning btn-sm fa fa-plus" })